.searchBar{

    position: fixed;
    top: 0;

    width: 100%;
    height: 15dvh;
    background-image: linear-gradient(rgb(155, 155, 155), rgba(255, 255, 255, 0));

    display: flex;
    align-items: center;
    justify-content: center;

}

.filterOpened{

    background-color: white;
    background-image: none;

}

.container{

    padding: 10px;
    background-color: white;
    border-radius: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    width: 80%;
    height: 30%; 

    
}

.container input{
    
    color: rgb(154, 154, 154);
    
    width: 70%;
    height: 100%;
    border-width: 0;

}

.container input:focus{
    outline: none;
}

.VL{
    width: 1px;
    height: 100%;
    background-color: rgb(182, 182, 182);
    margin: 0 20px;
}

.icon{

    width: 30px;
    height: 30px;
    background-color: rgb(200, 200, 200);

}