.card .controls{

    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.card .controls div{

    width: 6dvw;
    height: 6dvw;
    background-color: aqua;

}