.form_Card{

    display: flex;
    align-items: center;

    color: rgb(130, 130, 130);
    font-weight: bolder;

}

.form_Card .selected{
    color: rgb(11, 219, 53);
    font-size: 1.4em;
}

.form_Card span{

    margin: 0 3px;

}